# Ignore Mac system files
.DS_store
.ipynb_checkpoints
__pychache__
*.pyo
*.pyc
removable.ipynb

# Ignore specific folders
data
data_zenodo
references
paper

# Ignore specific files
99_*.ipynb
fv.py
fhv.py
FIP_*.ipynb
compRisk*.py
loadCensus.py
